workflows/DataCrazy Excluir tags em massa.json
{
  "active": false,
  "connections": {
    "Buscar Tag": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Buscar Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Buscar Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Excluir Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Excluir Tag": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-05T12:58:37.691Z",
  "id": "uv3deN0Vtwn3cZG0",
  "isArchived": false,
  "meta": null,
  "name": "DataCrazy Excluir tags em massa",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.g1.datacrazy.io/api/v1/tags",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer dc_eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY5MmRlNjhhOTNlZjYzYTUwYmMwOTQ2MSIsInRlbmFudElkIjoiNzhlZmFmM2YtYzIxNC00MzZmLWFlMjgtZGQ1OTlmYTZlOGIxIiwibmFtZSI6Ik44TiA8PiBHdXJ1IiwiaWF0IjoxNzY0NjE1ODE5fQ.y3qOm4lzTxvRNhHYrdH-jpV7HUorQseqNHa9DeKURTo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1248,
        336
      ],
      "id": "51d92bff-8711-4b52-bf5f-b853c32e4961",
      "name": "Buscar Tag",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// Pega o primeiro item que chegou (o JSON completo com as tags)\nconst dados = $input.first().json;\n\n// Retorna apenas o conteúdo da lista 'data'\n// O n8n automaticamente transforma cada entrada dessa lista em um item separado\nreturn dados.data;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        336
      ],
      "id": "71b53c53-5208-453a-a8a3-9524b82c3a2c",
      "name": "Code in JavaScript",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1472,
        240
      ],
      "id": "172390d4-5ab3-45bc-b82e-1b3ee2f6c7e9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -800,
        336
      ],
      "id": "88814a0a-d8c1-4bc6-ab81-790e6f8ad360",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        -128,
        336
      ],
      "id": "9618263f-0346-4b04-9b65-af946fcbd0d1"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.g1.datacrazy.io/api/v1/tags/{{ $json.id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer dc_eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY5MmRlNjhhOTNlZjYzYTUwYmMwOTQ2MSIsInRlbmFudElkIjoiNzhlZmFmM2YtYzIxNC00MzZmLWFlMjgtZGQ1OTlmYTZlOGIxIiwibmFtZSI6Ik44TiA8PiBHdXJ1IiwiaWF0IjoxNzY0NjE1ODE5fQ.y3qOm4lzTxvRNhHYrdH-jpV7HUorQseqNHa9DeKURTo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -368,
        336
      ],
      "id": "ac2bba1d-0ab2-4f9c-b19c-584362d72150",
      "name": "Excluir Tag",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1472,
        432
      ],
      "id": "042a3511-bfce-4338-b0af-c6562d69acc2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -576,
        336
      ],
      "id": "ebd514b0-a6f7-4242-be6a-9015c56b7a5b",
      "name": "Wait1",
      "webhookId": "f19a62dd-4af6-4a9d-8c80-005a9628b2da"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-05T12:58:37.691Z",
      "createdAt": "2025-12-05T12:58:37.691Z",
      "role": "workflow:owner",
      "workflowId": "uv3deN0Vtwn3cZG0",
      "projectId": "kDsSClWasdM3eAMX"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-05T20:02:33.966Z",
  "versionId": "1cf7ad64-957d-47bb-b504-d913527eb1bf"
}