workflows/DataCrazy Magra em Casa.json
{
  "active": false,
  "connections": {
    "Buscar Lead": {
      "main": [
        [
          {
            "node": "Lead Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Lead": {
      "main": [
        [
          {
            "node": "Definir Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Lead": {
      "main": [
        [
          {
            "node": "Definir Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Negocio": {
      "main": [
        [
          {
            "node": "Verificar Duplicidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Existe?": {
      "main": [
        [
          {
            "node": "Atualizar Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config IDs": {
      "main": [
        [
          {
            "node": "Sorteador Atendentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Negócio Existe?": {
      "main": [
        [
          {
            "node": "Mover Etapa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Negocio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Duplicidade": {
      "main": [
        [
          {
            "node": "Negócio Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mover Etapa": {
      "main": [
        []
      ]
    },
    "Criar Negocio": {
      "main": [
        []
      ]
    },
    "Definir Lead": {
      "main": [
        [
          {
            "node": "Buscar Negocio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Tag1": {
      "main": [
        [
          {
            "node": "Tag Existe?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Existe?1": {
      "main": [
        [
          {
            "node": "Seleciona Tag1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Tag1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Tag1": {
      "main": [
        [
          {
            "node": "Seleciona Tag1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seleciona Tag1": {
      "main": [
        [
          {
            "node": "Buscar Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sorteador Atendentes": {
      "main": [
        [
          {
            "node": "Buscar Tag1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Config IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-10T21:07:00.775Z",
  "id": "jfxDXGhKC40kEi0I",
  "isArchived": false,
  "meta": null,
  "name": "DataCrazy Magra em Casa",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.g1.datacrazy.io/api/v1/leads",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "search",
              "value": "={{ $('Config IDs').item.json.dc_email }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer dc_eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY5MmRlNjhhOTNlZjYzYTUwYmMwOTQ2MSIsInRlbmFudElkIjoiNzhlZmFmM2YtYzIxNC00MzZmLWFlMjgtZGQ1OTlmYTZlOGIxIiwibmFtZSI6Ik44TiA8PiBHdXJ1IiwiaWF0IjoxNzY0NjE1ODE5fQ.y3qOm4lzTxvRNhHYrdH-jpV7HUorQseqNHa9DeKURTo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        432,
        528
      ],
      "id": "23c1dec9-afd4-4731-833d-d42d827a3770",
      "name": "Buscar Lead",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.g1.datacrazy.io/api/v1/leads/{{ $('Buscar Lead').item.json.data[0].id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer dc_eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY5MmRlNjhhOTNlZjYzYTUwYmMwOTQ2MSIsInRlbmFudElkIjoiNzhlZmFmM2YtYzIxNC00MzZmLWFlMjgtZGQ1OTlmYTZlOGIxIiwibmFtZSI6Ik44TiA8PiBHdXJ1IiwiaWF0IjoxNzY0NjE1ODE5fQ.y3qOm4lzTxvRNhHYrdH-jpV7HUorQseqNHa9DeKURTo"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('Config IDs').item.json.dc_name }}\",\n  \"email\": \"{{ $('Config IDs').item.json.dc_email }}\",\n  \"phone\": \"{{ $('Config IDs').item.json.dc_phone }}\",\n  \"source\": \"{{ $('Config IDs').item.json.dc_source }}\",\n  \"address\": {\n    \"zip\": \"\",\n    \"address\": \"\",\n    \"block\": \"\",\n    \"city\": \"\",\n    \"state\": \"\",\n    \"country\": \"BR\"\n  },\n  \"tags\": [\n      {\n        \"id\": [\n          \"{{ $('Seleciona Tag1').item.json.tag_id }}\"\n        ]\n      }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        880,
        432
      ],
      "id": "c0a038a9-514b-4dc2-bd10-2d6227da2484",
      "name": "Atualizar Lead"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.g1.datacrazy.io/api/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer dc_eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY5MmRlNjhhOTNlZjYzYTUwYmMwOTQ2MSIsInRlbmFudElkIjoiNzhlZmFmM2YtYzIxNC00MzZmLWFlMjgtZGQ1OTlmYTZlOGIxIiwibmFtZSI6Ik44TiA8PiBHdXJ1IiwiaWF0IjoxNzY0NjE1ODE5fQ.y3qOm4lzTxvRNhHYrdH-jpV7HUorQseqNHa9DeKURTo"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('Config IDs').item.json.dc_name }}\",\n  \"email\": \"{{ $('Config IDs').item.json.dc_email }}\",\n  \"phone\": \"{{ $('Config IDs').item.json.dc_phone }}\",\n  \"source\": \"{{ $('Config IDs').item.json.dc_source }}\",\n  \"address\": {\n    \"zip\": \"\",\n    \"address\": \"\",\n    \"block\": \"\",\n    \"city\": \"\",\n    \"state\": \"\",\n    \"country\": \"BR\"\n  },\n  \"tags\": [\n      {\n        \"id\": [\n          \"{{ $('Seleciona Tag1').item.json.tag_id }}\"\n        ]\n      }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        880,
        624
      ],
      "id": "388ce3d4-623d-45d3-8cd7-250e172cfd38",
      "name": "Criar Lead",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=https://api.g1.datacrazy.io/api/v1/businesses",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "search",
              "value": "={{ $('Config IDs').item.json.email_busca }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer dc_eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY5MmRlNjhhOTNlZjYzYTUwYmMwOTQ2MSIsInRlbmFudElkIjoiNzhlZmFmM2YtYzIxNC00MzZmLWFlMjgtZGQ1OTlmYTZlOGIxIiwibmFtZSI6Ik44TiA8PiBHdXJ1IiwiaWF0IjoxNzY0NjE1ODE5fQ.y3qOm4lzTxvRNhHYrdH-jpV7HUorQseqNHa9DeKURTo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1328,
        528
      ],
      "id": "5c5c1107-9602-4f12-a35c-647c9dec79a3",
      "name": "Buscar Negocio",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b015e82f-26dd-4bb7-a007-5f026390a999",
              "leftValue": "={{ $json.data[0].id }}",
              "rightValue": "Is Not Empty",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        656,
        528
      ],
      "id": "c436aca8-c1f4-4645-88b4-af5044dd9322",
      "name": "Lead Existe?"
    },
    {
      "parameters": {
        "jsCode": "// --- 1. CONFIGURAÇÃO DOS IDs DO DATACRAZY ---\n// Defina aqui o ID da etapa onde os Leads do Popup devem cair\nconst stageIdPopup = \"5d4d61b6-d820-47d6-a5d2-66f8add56b44\"; // ID da etapa \"Magra em Casa\"\n\n// --- 2. CAPTURA DOS DADOS DO WEBHOOK ---\nconst body = items[0].json.body || {};\n\n// Captura segura dos campos do formulário\n// O formulário manda \"Nome\", \"E-mail\" e \"Telefone\" (com maiúscula)\nconst nome = body.nome || \"\";\nconst email = body.email || \"\"; // Nota: Precisa de aspas/colchetes por causa do hífen\nconst rawPhone = body.phone || \"\";\nconst formName = body.form_name || \"Inlead - Magra em casa\";\n\n// --- 3. TRATAMENTO INTELIGENTE DE TELEFONE ---\n// Remove tudo que não é número (tira parênteses, traços, espaços)\nlet phoneClean = rawPhone.replace(/\\D/g, '');\n\n// CORREÇÕES PARA BRASIL:\n// Se tiver 10 ou 11 dígitos, assume que é BR e adiciona o DDI 55\nif (phoneClean.length === 10 || phoneClean.length === 11) {\n    phoneClean = \"55\" + phoneClean;\n}\n// Se duplicou o 55 (ex: 555545...), corrige\nif (phoneClean.startsWith(\"5555\") && phoneClean.length > 12) {\n    phoneClean = phoneClean.substring(2); \n}\n// Formato final E.164\nconst finalPhone = \"+\" + phoneClean;\n\n\n// --- 4. RETORNO FINAL PARA OS PRÓXIMOS NÓS ---\nreturn {\n  json: {\n    // Mantém os dados originais se precisar\n    ...items[0].json,\n    \n    // Dados Tratados para o DataCrazy\n    dc_name: nome,\n    dc_email: email,\n    dc_phone: finalPhone,\n    dc_stage_id: stageIdPopup,\n    dc_source: formName,\n    \n    // Variável útil para o \"Buscar Lead\" (busca por e-mail)\n    email_busca: email\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        544
      ],
      "id": "f40fcd62-817b-40c0-9dfc-19465f225caf",
      "name": "Config IDs"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b015e82f-26dd-4bb7-a007-5f026390a999",
              "leftValue": "={{ $json.existe }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1776,
        528
      ],
      "id": "27a6a9ee-32cf-4bce-b4e2-768cd22d1e30",
      "name": "Negócio Existe?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.g1.datacrazy.io/api/v1/businesses",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer dc_eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY5MmRlNjhhOTNlZjYzYTUwYmMwOTQ2MSIsInRlbmFudElkIjoiNzhlZmFmM2YtYzIxNC00MzZmLWFlMjgtZGQ1OTlmYTZlOGIxIiwibmFtZSI6Ik44TiA8PiBHdXJ1IiwiaWF0IjoxNzY0NjE1ODE5fQ.y3qOm4lzTxvRNhHYrdH-jpV7HUorQseqNHa9DeKURTo"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "leadId",
              "value": "={{ $('Definir Lead').item.json.leadId }}"
            },
            {
              "name": "stageId",
              "value": "={{ $('Config IDs').item.json.dc_stage_id }}"
            },
            {
              "name": "attendantId",
              "value": "={{ $('Sorteador Atendentes').item.json.atendente.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2000,
        624
      ],
      "id": "909037be-27d9-40d8-a6e5-213fcf9c7860",
      "name": "Criar Negocio"
    },
    {
      "parameters": {
        "jsCode": "// Pega o resultado do nó anterior \"Buscar Negocio\"\nconst resultadoBusca = $('Buscar Negocio').first().json;\n\n// A API geralmente retorna um array dentro de \"data\" ou \"items\"\n// Se a busca não achou nada, o array vem vazio ou o count é 0\nconst listaNegocios = resultadoBusca.data || [];\n\nif (listaNegocios.length > 0) {\n  // ENCONTROU: Pega o ID do primeiro negócio da lista (geralmente o mais recente ou o único)\n  return {\n    json: {\n      existe: true,\n      businessId: listaNegocios[0].id,\n      stageIdAtual: listaNegocios[0].stageId // Útil se quiser saber onde ele está hoje\n    }\n  };\n} else {\n  // NÃO ENCONTROU\n  return {\n    json: {\n      existe: false,\n      businessId: null\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        528
      ],
      "id": "cca3c61e-e026-4e4b-9e0a-0657d872ae1f",
      "name": "Verificar Duplicidade"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.g1.datacrazy.io/api/v1/businesses/{{ $('Verificar Duplicidade').item.json.businessId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer dc_eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY5MmRlNjhhOTNlZjYzYTUwYmMwOTQ2MSIsInRlbmFudElkIjoiNzhlZmFmM2YtYzIxNC00MzZmLWFlMjgtZGQ1OTlmYTZlOGIxIiwibmFtZSI6Ik44TiA8PiBHdXJ1IiwiaWF0IjoxNzY0NjE1ODE5fQ.y3qOm4lzTxvRNhHYrdH-jpV7HUorQseqNHa9DeKURTo"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"stageId\": \"{{ $('Config IDs').item.json.dc_stage_id }}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2000,
        432
      ],
      "id": "c46737bb-a8b7-4aa4-afa4-51a094c3cd4c",
      "name": "Mover Etapa"
    },
    {
      "parameters": {
        "jsCode": "// Este nó serve para unificar o ID, não importa de onde ele veio.\n// Como conectamos as duas pontas nele, o \"items[0]\" será o dado do vencedor.\n\nconst lead = items[0].json;\n\n// Garante que pegamos o ID, seja da criação ou atualização\n// Se por acaso algo falhar, tentamos pegar o ID que veio da busca lá atrás\nconst leadId = lead.id || $('Buscar Lead').first().json.data[0].id;\n\nreturn {\n  json: {\n    leadId: leadId\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        528
      ],
      "id": "2c83d92c-31f5-47e8-8548-1f33991d8aec",
      "name": "Definir Lead"
    },
    {
      "parameters": {
        "url": "https://api.g1.datacrazy.io/api/v1/tags",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "search",
              "value": "={{ $('Config IDs').item.json.dc_source }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer dc_eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY5MmRlNjhhOTNlZjYzYTUwYmMwOTQ2MSIsInRlbmFudElkIjoiNzhlZmFmM2YtYzIxNC00MzZmLWFlMjgtZGQ1OTlmYTZlOGIxIiwibmFtZSI6Ik44TiA8PiBHdXJ1IiwiaWF0IjoxNzY0NjE1ODE5fQ.y3qOm4lzTxvRNhHYrdH-jpV7HUorQseqNHa9DeKURTo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -464,
        528
      ],
      "id": "12f410fa-e4df-4ad8-8c4d-4ea855e38dbb",
      "name": "Buscar Tag1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b015e82f-26dd-4bb7-a007-5f026390a999",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        528
      ],
      "id": "1fa858b6-e2ee-48b0-a9bf-9524c381f7b2",
      "name": "Tag Existe?1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.g1.datacrazy.io/api/v1/tags",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer dc_eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY5MmRlNjhhOTNlZjYzYTUwYmMwOTQ2MSIsInRlbmFudElkIjoiNzhlZmFmM2YtYzIxNC00MzZmLWFlMjgtZGQ1OTlmYTZlOGIxIiwibmFtZSI6Ik44TiA8PiBHdXJ1IiwiaWF0IjoxNzY0NjE1ODE5fQ.y3qOm4lzTxvRNhHYrdH-jpV7HUorQseqNHa9DeKURTo"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Config IDs').item.json.dc_source }}"
            },
            {
              "name": "useRandomColor",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -16,
        608
      ],
      "id": "b359fc75-9b5e-4706-bfbb-6ce88f2e289c",
      "name": "Criar Tag1"
    },
    {
      "parameters": {
        "jsCode": "// Verifica se veio da criação (tem o campo 'id' na raiz)\nif (items[0].json.id && !items[0].json.data) {\n  return {\n    json: {\n      tag_id: items[0].json.id\n    }\n  };\n}\n\n// Se não, veio da busca (tem o campo 'data' com array)\nif (items[0].json.data && items[0].json.data.length > 0) {\n  return {\n    json: {\n      tag_id: items[0].json.data[0].id\n    }\n  };\n}\n\n// Fallback (caso dê erro e não encontre nada)\nreturn { json: { tag_id: null } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        528
      ],
      "id": "3d78dc97-136e-4c71-88e9-cc41d3886aff",
      "name": "Seleciona Tag1"
    },
    {
      "parameters": {
        "jsCode": "// --- 1. REGRAS FIXAS (100% PARA MATHEUS) ---\n// Coloque aqui partes do nome do formulário. \n// O código vai procurar se o \"form_name\" CONTÉM alguma dessas palavras.\nconst regrasMatheus = [\n    \"teste\"\n    // \"muzy\", \n    // \"weburn\", \n    // \"mecabo\" // Adicionei um exemplo, pode remover se quiser\n];\n\nconst idMatheus = \"e718891f-d45e-4b9f-9411-fe123a9eb238\"; \n\n// --- 2. EQUIPE DO SORTEIO (RESTO) ---\nconst equipeRoleta = [\n    { \n        name: \"Jacira\", \n        id: \"fd0d06b4-ef33-438e-826b-c27f1ee8131a\", \n        peso: 33 \n    },\n    { \n        name: \"Erika\", \n        id: \"ffa0859f-3300-4cd0-9e2d-997e2951f34e\", \n        peso: 33 \n    },\n    { \n        name: \"Ester Rosa\", \n        id: \"86ef09b7-d185-4d3a-940b-6c501dbf9bd6\", \n        peso: 33 \n    }\n];\n\n// --- 3. LÓGICA DE DECISÃO ---\n\n// Pega o corpo dos dados que veio do Config IDs\nconst body = $('Config IDs').item.json.body || {};\n\n// Pega o Nome do Formulário (ou form_id se preferir) e converte para minúsculo\n// Se não tiver form_name, usa string vazia para não dar erro\nconst tagParaVerificar = (body.form_name || body.form_id || \"\").toLowerCase();\n\nlet escolhido = null;\n\n// Verifica: O nome do formulário contém alguma palavra do Matheus?\nconst ehDoMatheus = regrasMatheus.some(palavra => tagParaVerificar.includes(palavra));\n\nif (ehDoMatheus) {\n    // CASO 1: É do Matheus (ex: \"Weburn - Cyber Week\")\n    escolhido = { \n        name: \"Matheus Donha\", \n        id: idMatheus,\n        tipo: \"Regra Fixa (\" + tagParaVerificar + \")\"\n    };\n} else {\n    // CASO 2: Não é do Matheus, roda a roleta\n    const totalPeso = equipeRoleta.reduce((sum, a) => sum + a.peso, 0);\n    let numeroSorteado = Math.random() * totalPeso;\n\n    for (const atendente of equipeRoleta) {\n        if (numeroSorteado < atendente.peso) {\n            escolhido = atendente;\n            break;\n        }\n        numeroSorteado -= atendente.peso;\n    }\n    if (!escolhido) escolhido = equipeRoleta[0];\n    escolhido.tipo = \"Sorteio\";\n}\n\n// --- RETORNO ---\nreturn {\n    json: {\n        ...items[0].json, \n        atendente: {\n            id: escolhido.id,\n            nome: escolhido.name,\n            motivo: escolhido.tipo\n        }\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        544
      ],
      "id": "75a99a7a-9365-4d44-af7c-65be8d2ff586",
      "name": "Sorteador Atendentes"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1168,
        544
      ],
      "id": "465bc136-2092-4b77-a6c2-e48953750206",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "headers": {
            "host": "webh.weburn.com.br",
            "user-agent": "Mozilla/5.0 (Linux; Android 10; K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Mobile Safari/537.36",
            "content-length": "1216",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7",
            "content-type": "application/x-www-form-urlencoded",
            "origin": "https://questionario.magraemcasa.com.br",
            "priority": "u=1, i",
            "referer": "https://questionario.magraemcasa.com.br/",
            "sec-ch-ua": "\"Chromium\";v=\"142\", \"Google Chrome\";v=\"142\", \"Not_A Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?1",
            "sec-ch-ua-platform": "\"Android\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "no-cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "179.106.165.141",
            "x-forwarded-host": "webh.weburn.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "55a0ea0d2a2a",
            "x-real-ip": "179.106.165.141"
          },
          "params": {},
          "query": {},
          "body": {
            "tracking.screen": "427x950",
            "tracking.platform": "Linux armv81",
            "score": "19",
            "responses": "A|E|Refluxo frequente |A|B|A|B",
            "nome": "Dany Vieira Silva ",
            "NWYTHU": "Minas Gerais ",
            "HTY3lt": "clicked",
            "opcoes_y7B91j": "A",
            "score.opcoes_y7B91j": "10",
            "responses.opcoes_y7B91j": "A|*|*",
            "wXZQNf": "clicked",
            "kEa3Tf": "loaded",
            "KUZzqo": "clicked",
            "opcoes_x6kzFO": "E",
            "score.opcoes_x6kzFO": "3",
            "responses.opcoes_x6kzFO": "*|*|*|*|E",
            "SYppLu": "clicked",
            "jAWXNa": "clicked",
            "uYH8ZM": "05/10/1978",
            "botao_msZXJg": "clicked",
            "peso": "98",
            "altura": "171",
            "IGlTon": "clicked",
            "maior_peso": "98",
            "quilos_a_perder": "20",
            "g7ITsz": "clicked",
            "botao_1qyaDZ": "clicked",
            "phone": "(37) 99123-3058",
            "email": "danyvieira-17@hotmail.com",
            "botao_08wEn6": "clicked",
            "disturbios_abdominais": "Refluxo frequente ",
            "score.disturbios_abdominais": "0",
            "responses.disturbios_abdominais": "*|*|*|Refluxo frequente ",
            "botao_w2xY6x": "clicked",
            "idhdEp": "loaded",
            "opcoes_7y3GXB": "A",
            "score.opcoes_7y3GXB": "1",
            "responses.opcoes_7y3GXB": "A",
            "opcoes_0tHHHW": "B",
            "score.opcoes_0tHHHW": "2",
            "responses.opcoes_0tHHHW": "*|B",
            "opcoes_o8jauv": "B",
            "score.opcoes_o8jauv": "2",
            "responses.opcoes_o8jauv": "*|B",
            "opcoes_FOe4OK": "A",
            "score.opcoes_FOe4OK": "1",
            "responses.opcoes_FOe4OK": "A",
            "analisando_seu_perfil_com_base_em_suas_respostas": "loaded",
            "opcoes_cJqAp4": "B",
            "score.opcoes_cJqAp4": "2",
            "responses.opcoes_cJqAp4": "B",
            "botao_Roni3J": "clicked",
            "code": "8VJ4nr"
          },
          "webhookUrl": "https://webh.weburn.com.br/webhook/6a62d1f7-fe49-48c4-b175-596c994b3396",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-10T21:07:00.775Z",
      "createdAt": "2025-12-10T21:07:00.775Z",
      "role": "workflow:owner",
      "workflowId": "jfxDXGhKC40kEi0I",
      "projectId": "kDsSClWasdM3eAMX"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-10T21:22:41.044Z",
  "versionId": "437b41f4-244b-486d-a52f-0e76a2c97d64"
}