workflows/Diane Leal | Hotmart (Fluxo abandono).json
{
  "active": false,
  "connections": {
    "Monta link da fatura1": {
      "main": [
        [
          {
            "node": "Create link switchy1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create link switchy1": {
      "main": [
        []
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Prepara Envio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara Envio1": {
      "main": [
        [
          {
            "node": "Entrou no funil - Fase 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send template": {
      "main": [
        [
          {
            "node": "Atualiza Fase 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send template3": {
      "main": [
        [
          {
            "node": "Atualiza Fase 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send template5": {
      "main": [
        [
          {
            "node": "Atualiza Fase 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara Envio2": {
      "main": [
        [
          {
            "node": "Send template3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara Envio3": {
      "main": [
        [
          {
            "node": "Send template5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica Status Novamente": {
      "main": [
        [
          {
            "node": "Atualiza Fase ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ainda não foi pago?": {
      "main": [
        [
          {
            "node": "Send template",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualiza Status 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica Status Novamente1": {
      "main": [
        [
          {
            "node": "Ainda não foi pago?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ainda não foi pago?1": {
      "main": [
        [
          {
            "node": "Prepara Envio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualiza Status 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica Status Novamente2": {
      "main": [
        [
          {
            "node": "Ainda não foi pago?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ainda não foi pago?2": {
      "main": [
        [
          {
            "node": "Prepara Envio2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualiza Status 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica Status Novamente3": {
      "main": [
        [
          {
            "node": "Ainda não foi pago?3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ainda não foi pago?3": {
      "main": [
        [
          {
            "node": "Prepara Envio3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualiza Status 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clicou no botão?": {
      "main": [
        [
          {
            "node": "Verifica Status Novamente1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FIM (Botão Clicado)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clicou no botão?1": {
      "main": [
        [
          {
            "node": "Verifica Status Novamente2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FIM (Botão Clicado)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clicou no botão?2": {
      "main": [
        [
          {
            "node": "Verifica Status Novamente3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FIM (Botão Clicado)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Fase 2": {
      "main": [
        [
          {
            "node": "30min (1h p/ atualiza status)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Fase 3": {
      "main": [
        [
          {
            "node": "20 hrs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Fase 4": {
      "main": [
        [
          {
            "node": "17 hrs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Fase 5": {
      "main": [
        [
          {
            "node": "FIM (Botão Clicado)13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entrou no funil - Fase 1": {
      "main": [
        [
          {
            "node": "30 min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Fase ": {
      "main": [
        [
          {
            "node": "Ainda não foi pago?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "30 min": {
      "main": [
        [
          {
            "node": "Verifica Status Novamente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "20 hrs": {
      "main": [
        [
          {
            "node": "Clicou no botão?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Status 2": {
      "main": [
        [
          {
            "node": "FIM (Botão Clicado)8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Status 1": {
      "main": [
        [
          {
            "node": "FIM (Botão Clicado)7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Status 3": {
      "main": [
        [
          {
            "node": "FIM (Botão Clicado)9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Status 4": {
      "main": [
        [
          {
            "node": "FIM (Botão Clicado)10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "30min (1h p/ atualiza status)": {
      "main": [
        [
          {
            "node": "120 min",
            "type": "main",
            "index": 0
          },
          {
            "node": "Atualiza Status após 1h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "120 min": {
      "main": [
        [
          {
            "node": "Clicou no botão?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send template2": {
      "main": [
        [
          {
            "node": "Atualiza Fase 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara Envio": {
      "main": [
        [
          {
            "node": "Send template2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca os Dados do Contato na Guru": {
      "main": [
        [
          {
            "node": "Busca a Última Transação na Guru",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca a Última Transação na Guru": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Monta link da fatura1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "17 hrs": {
      "main": [
        [
          {
            "node": "Clicou no botão?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FIM (Botão Clicado)15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-30T18:21:49.624Z",
  "id": "hI3wdiKMQelX2eJI",
  "isArchived": false,
  "meta": null,
  "name": "Diane Leal | Hotmart (Fluxo abandono)",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "956be347-49f8-428d-8982-1fefac10c1c5",
              "name": "link_fatura_final",
              "value": "=https://pay.hotmart.com/thanks?transactionReference={{ $json.payment.marketplace_id.replace('C1', '') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -8208,
        1600
      ],
      "id": "f44eaa84-23ac-4808-b100-6e7ca01fc239",
      "name": "Monta link da fatura1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.switchy.io/v1/links/create",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Authorization",
              "value": "aba32da4-c9e6-4565-9001-08ec9c90be28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"link\": {\n    \"url\": \"{{ $json.link_fatura_final }}\",\n    \"title\": \"{{ $json.payment.method }} - {{ $json.items[0].name }}\",\n    \"domain\": \"link.chatweburn.com\",\n    \"tags\": [\n      \"whatsapp\",\n      \"funil clint\"\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -7984,
        1600
      ],
      "id": "9160ad2a-d497-420b-9809-983fe1701e38",
      "name": "Create link switchy1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ee1f9d62-7d25-4029-9143-a3c05fc9547d",
              "name": "Nome",
              "value": "={{ $json.body.data.buyer.name }}",
              "type": "string"
            },
            {
              "id": "9b7348c2-b586-4d79-a4ec-771bfee8f70e",
              "name": "Nome Produto",
              "value": "={{ $json.body.data.product.name }}",
              "type": "string"
            },
            {
              "id": "f02876a4-8e90-4419-9378-35ef69eee7c6",
              "name": "link_id",
              "value": "=",
              "type": "string"
            },
            {
              "id": "40441c29-dd02-4f6b-bdb0-23ccfafb1a5c",
              "name": "Phone",
              "value": "={{ $json.body.data.buyer.phone }}",
              "type": "string"
            },
            {
              "id": "5536395f-5531-4849-ab91-c6df7a8e6fdf",
              "name": "workflowId",
              "value": "={{ $execution.id }}",
              "type": "string"
            },
            {
              "id": "b178cc89-0a4a-42e4-8516-4e9d21d456e1",
              "name": "Email",
              "value": "={{ $json.body.data.buyer.email }}",
              "type": "string"
            },
            {
              "id": "dd3ed2e0-4674-47cb-8134-44dc3de475ed",
              "name": "link_encurtado",
              "value": "=",
              "type": "string"
            },
            {
              "id": "7d1b4ee6-02b2-4bc2-a7e4-35b119c972e0",
              "name": "Status",
              "value": "=",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -8432,
        1184
      ],
      "id": "aa0730c9-e204-46ff-9d9a-9eafd200b0f4",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "46b760ea-d737-4367-aef7-bd80d06511d8",
              "name": "resumeUrl",
              "value": "={{ $execution.resumeUrl }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -8208,
        1184
      ],
      "id": "8a09582e-307a-48ce-a28e-567d2f8d5395",
      "name": "Prepara Envio1"
    },
    {
      "parameters": {
        "phoneNumberId": "569361946259055",
        "recipientPhoneNumber": "={{ $('Prepara Envio1').item.json.Phone }}",
        "template": "=funil_diane_pix_boleto_n8n_msg|pt_BR",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $('Prepara Envio1').item.json.Nome }}"
                  },
                  {
                    "text": "={{ $('Prepara Envio1').item.json['Metodo de Pagamento'] }}"
                  },
                  {
                    "text": "={{ $('Prepara Envio1').item.json['Nome Produto'] }}"
                  }
                ]
              }
            },
            {
              "type": "button",
              "sub_type": "url",
              "buttonParameters": {
                "parameter": {
                  "type": "text",
                  "text": "={{ $('Prepara Envio1').item.json.link_id }}"
                }
              }
            },
            {
              "type": "button",
              "index": 1,
              "buttonParameters": {
                "parameter": {
                  "payload": "={{ $('Prepara Envio1').item.json.resumeUrl }}"
                }
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -6864,
        1088
      ],
      "id": "91ecc68c-6aae-494f-b547-009c0971ed9c",
      "name": "Send template",
      "webhookId": "93d0a27e-969c-44e5-b640-a18ffc692fa9",
      "credentials": {
        "whatsAppApi": {
          "id": "R7BPwhn8HvkKXHFG",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "phoneNumberId": "569361946259055",
        "recipientPhoneNumber": "={{ $('Edit Fields1').item.json.Phone }}",
        "template": "=funil_diane_pix_boleto_n8n_msg3|pt_BR",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $('Edit Fields1').item.json.Nome }}"
                  },
                  {
                    "text": "={{ $('Edit Fields1').item.json['Metodo de Pagamento'] }}"
                  }
                ]
              }
            },
            {
              "type": "button",
              "sub_type": "url",
              "buttonParameters": {
                "parameter": {
                  "type": "text",
                  "text": "={{ $('Edit Fields1').item.json.link_id }}"
                }
              }
            },
            {
              "type": "button",
              "index": 1,
              "buttonParameters": {
                "parameter": {
                  "payload": "={{ $json.resumeUrl }}"
                }
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -3504,
        608
      ],
      "id": "0e659bf7-a791-4825-abb8-419ce792b4ed",
      "name": "Send template3",
      "webhookId": "06cecc45-1eaa-427f-9482-5d31f2620912",
      "credentials": {
        "whatsAppApi": {
          "id": "R7BPwhn8HvkKXHFG",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "phoneNumberId": "569361946259055",
        "recipientPhoneNumber": "={{ $('Edit Fields1').item.json.Phone }}",
        "template": "=funil_diane_pix_boleto_n8n_msg4|pt_BR",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $('Edit Fields1').item.json.Nome }}"
                  },
                  {
                    "text": "={{ $('Edit Fields1').item.json['Metodo de Pagamento'] }}"
                  },
                  {
                    "text": "={{ $('Edit Fields1').item.json['Metodo de Pagamento'] }}"
                  }
                ]
              }
            },
            {
              "type": "button",
              "sub_type": "url",
              "buttonParameters": {
                "parameter": {
                  "type": "text",
                  "text": "={{ $('Edit Fields1').item.json.link_id }}"
                }
              }
            },
            {
              "type": "button",
              "index": 1,
              "buttonParameters": {
                "parameter": {
                  "payload": "={{ $('Prepara Envio').item.json.resumeUrl }}"
                }
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -1936,
        416
      ],
      "id": "a27b1eaa-4ab9-4c06-94d0-d829794c032b",
      "name": "Send template5",
      "webhookId": "59836d6d-b942-4b90-9c73-b0ff9a7bfb74",
      "credentials": {
        "whatsAppApi": {
          "id": "R7BPwhn8HvkKXHFG",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -5744,
        1088
      ],
      "id": "60191a9d-1b51-4792-8e75-3b2b1a0d9a7e",
      "name": "FIM (Botão Clicado)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -4176,
        896
      ],
      "id": "01ca6e06-573c-4d33-a86b-77b8588f69e1",
      "name": "FIM (Botão Clicado)1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2608,
        704
      ],
      "id": "90970d8b-f0c3-4800-8b07-0c3708ea55bd",
      "name": "FIM (Botão Clicado)2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "46b760ea-d737-4367-aef7-bd80d06511d8",
              "name": "resumeUrl",
              "value": "={{ $execution.resumeUrl }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3728,
        608
      ],
      "id": "630ea2fb-ce89-431b-a5f1-e2fa822ecd7d",
      "name": "Prepara Envio2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "46b760ea-d737-4367-aef7-bd80d06511d8",
              "name": "resumeUrl",
              "value": "={{ $execution.resumeUrl }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2160,
        416
      ],
      "id": "582a6dc5-4c5d-4049-a60d-a744e3ab8498",
      "name": "Prepara Envio3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -6640,
        1280
      ],
      "id": "179572b2-2eac-494a-85f3-ba2a2f1ac25b",
      "name": "FIM (Botão Clicado)7"
    },
    {
      "parameters": {
        "url": "=https://digitalmanager.guru/api/v2/transactions/{{ $json['ID da Transacao'] }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer a0148ac0-73ea-432e-8358-10d323ff0044|0Xj1cU07zLr0FaSdWkf41Gdj4bAOhx1cSa5xnWJX16df9f03"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -7536,
        1184
      ],
      "id": "7982efc8-0173-441a-b62e-49138f4444a2",
      "name": "Verifica Status Novamente"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6a50e218-fff9-470a-9727-986ee2c214af",
              "leftValue": "={{ $('Verifica Status Novamente').item.json.status }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -7088,
        1184
      ],
      "id": "33ac9350-84dd-4e81-9064-ab1af4e8f465",
      "name": "Ainda não foi pago?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -5072,
        992
      ],
      "id": "ee02c729-52a8-4d9f-8634-1b90be686de3",
      "name": "FIM (Botão Clicado)8"
    },
    {
      "parameters": {
        "url": "=https://digitalmanager.guru/api/v2/transactions/{{ $json['ID da Transacao'] }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer a0148ac0-73ea-432e-8358-10d323ff0044|0Xj1cU07zLr0FaSdWkf41Gdj4bAOhx1cSa5xnWJX16df9f03"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5744,
        896
      ],
      "id": "d6897f98-6518-41d2-b1e0-5e5907106d2f",
      "name": "Verifica Status Novamente1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6a50e218-fff9-470a-9727-986ee2c214af",
              "leftValue": "={{ $json.status }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5520,
        896
      ],
      "id": "18189265-1b56-415f-b0dd-b4b4c3b0cdf6",
      "name": "Ainda não foi pago?1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3504,
        800
      ],
      "id": "e5c0574a-44bc-490b-8206-fff674b94213",
      "name": "FIM (Botão Clicado)9"
    },
    {
      "parameters": {
        "url": "=https://digitalmanager.guru/api/v2/transactions/{{ $json['ID da Transacao'] }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer a0148ac0-73ea-432e-8358-10d323ff0044|0Xj1cU07zLr0FaSdWkf41Gdj4bAOhx1cSa5xnWJX16df9f03"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4176,
        704
      ],
      "id": "ae6ff883-5b5b-4fd7-8cb5-6e9d18383791",
      "name": "Verifica Status Novamente2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6a50e218-fff9-470a-9727-986ee2c214af",
              "leftValue": "={{ $json.status }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3952,
        704
      ],
      "id": "f8cfa652-6733-47e8-97b0-4d38329b4274",
      "name": "Ainda não foi pago?2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1936,
        608
      ],
      "id": "a75d716d-3614-47bf-b76c-7d0e56b2e829",
      "name": "FIM (Botão Clicado)10"
    },
    {
      "parameters": {
        "url": "=https://digitalmanager.guru/api/v2/transactions/{{ $json['ID da Transacao'] }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer a0148ac0-73ea-432e-8358-10d323ff0044|0Xj1cU07zLr0FaSdWkf41Gdj4bAOhx1cSa5xnWJX16df9f03"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2608,
        512
      ],
      "id": "a0fbd474-a7d9-418e-8f09-da441e3822ca",
      "name": "Verifica Status Novamente3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6a50e218-fff9-470a-9727-986ee2c214af",
              "leftValue": "={{ $json.status }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2384,
        512
      ],
      "id": "f0f56f60-f88f-4c0e-9776-6b63dae27d4b",
      "name": "Ainda não foi pago?3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1488,
        416
      ],
      "id": "9a04d4b8-824d-4392-8f68-0500a2759782",
      "name": "FIM (Botão Clicado)13"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f3e87afd-25bc-4067-8fc3-f4fe39dcc740",
              "leftValue": "={{ $json.headers }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5968,
        992
      ],
      "id": "ca85ec22-81a7-4434-9299-10aa96f825f9",
      "name": "Clicou no botão?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f3e87afd-25bc-4067-8fc3-f4fe39dcc740",
              "leftValue": "={{ $json.headers }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4400,
        800
      ],
      "id": "cceda681-b31e-4181-96e5-d56c2754c908",
      "name": "Clicou no botão?1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f3e87afd-25bc-4067-8fc3-f4fe39dcc740",
              "leftValue": "={{ $json.headers }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2832,
        608
      ],
      "id": "7bb68ff7-a5cb-4779-97aa-271b1ba721d8",
      "name": "Clicou no botão?2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1nU47Z1pByv8BgHY6ABiKJTkIBoAG8TT3P0Zfj4LldzE"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID da Transacao": "={{ $('Prepara Envio1').item.json.ID_da_Transacao }}",
            "Fase": "Fase 2 - Recebeu Lembrete 1",
            "Status": "={{ $('Verifica Status Novamente').item.json.status }}"
          },
          "matchingColumns": [
            "ID da Transacao"
          ],
          "schema": [
            {
              "id": "Data de Entrada",
              "displayName": "Data de Entrada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CPF",
              "displayName": "CPF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Produto",
              "displayName": "Produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Metodo de Pagamento",
              "displayName": "Metodo de Pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID da Transacao",
              "displayName": "ID da Transacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data de Expiracao",
              "displayName": "Data de Expiracao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link Fatura",
              "displayName": "Link Fatura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "workflowId",
              "displayName": "workflowId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fase",
              "displayName": "Fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data de Atualização do Status",
              "displayName": "Data de Atualização do Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -6640,
        1088
      ],
      "id": "414c023f-a231-4858-b060-1d1b0922b8c1",
      "name": "Atualiza Fase 2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "i0KmTbyNf5uyslIa",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1nU47Z1pByv8BgHY6ABiKJTkIBoAG8TT3P0Zfj4LldzE"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID da Transacao": "={{ $('Prepara Envio1').item.json.ID_da_Transacao }}",
            "Fase": "Fase 3 - Recebeu Lembrete 2",
            "Status": "={{ $('Verifica Status Novamente1').item.json.status }}"
          },
          "matchingColumns": [
            "ID da Transacao"
          ],
          "schema": [
            {
              "id": "Data de Entrada",
              "displayName": "Data de Entrada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CPF",
              "displayName": "CPF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Produto",
              "displayName": "Produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Metodo de Pagamento",
              "displayName": "Metodo de Pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID da Transacao",
              "displayName": "ID da Transacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data de Expiracao",
              "displayName": "Data de Expiracao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link Fatura",
              "displayName": "Link Fatura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "workflowId",
              "displayName": "workflowId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fase",
              "displayName": "Fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data de Atualização do Status",
              "displayName": "Data de Atualização do Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -4848,
        800
      ],
      "id": "91cf9c9d-9acd-4083-8423-24afbb98d36e",
      "name": "Atualiza Fase 3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "i0KmTbyNf5uyslIa",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1nU47Z1pByv8BgHY6ABiKJTkIBoAG8TT3P0Zfj4LldzE"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID da Transacao": "={{ $('Prepara Envio1').item.json.ID_da_Transacao }}",
            "Fase": "Fase 4 - Recebeu Lembrete 3",
            "Status": "={{ $('Verifica Status Novamente2').item.json.status }}"
          },
          "matchingColumns": [
            "ID da Transacao"
          ],
          "schema": [
            {
              "id": "Data de Entrada",
              "displayName": "Data de Entrada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CPF",
              "displayName": "CPF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Produto",
              "displayName": "Produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Metodo de Pagamento",
              "displayName": "Metodo de Pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID da Transacao",
              "displayName": "ID da Transacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data de Expiracao",
              "displayName": "Data de Expiracao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link Fatura",
              "displayName": "Link Fatura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "workflowId",
              "displayName": "workflowId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fase",
              "displayName": "Fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data de Atualização do Status",
              "displayName": "Data de Atualização do Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3280,
        608
      ],
      "id": "4735773e-eaa5-4f95-86cd-ea2efcd432a6",
      "name": "Atualiza Fase 4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "i0KmTbyNf5uyslIa",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1nU47Z1pByv8BgHY6ABiKJTkIBoAG8TT3P0Zfj4LldzE"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID da Transacao": "={{ $('Prepara Envio1').item.json.ID_da_Transacao }}",
            "Fase": "Fase 5 - Recebeu Lembrete 4",
            "Status": "={{ $('Verifica Status Novamente3').item.json.status }}"
          },
          "matchingColumns": [
            "ID da Transacao"
          ],
          "schema": [
            {
              "id": "Data de Entrada",
              "displayName": "Data de Entrada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CPF",
              "displayName": "CPF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Produto",
              "displayName": "Produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Metodo de Pagamento",
              "displayName": "Metodo de Pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID da Transacao",
              "displayName": "ID da Transacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data de Expiracao",
              "displayName": "Data de Expiracao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link Fatura",
              "displayName": "Link Fatura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "workflowId",
              "displayName": "workflowId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fase",
              "displayName": "Fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data de Atualização do Status",
              "displayName": "Data de Atualização do Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1712,
        416
      ],
      "id": "988c4e59-b278-46f9-a682-d002dc3987ab",
      "name": "Atualiza Fase 5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "i0KmTbyNf5uyslIa",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1nU47Z1pByv8BgHY6ABiKJTkIBoAG8TT3P0Zfj4LldzE"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data de Entrada": "={{ new Date($('Webhook').item.json.body.data.purchase.order_date).toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo' }) }}",
            "Nome": "={{ $json.Nome }}",
            "Email": "={{ $json.Email }}",
            "CPF": "={{ $json.CPF }}",
            "Telefone": "={{ $json.Phone }}",
            "Produto": "={{ $json['Nome Produto'] }}",
            "Metodo de Pagamento": "={{ $json['Metodo de Pagamento'] }}",
            "ID da Transacao": "={{ $json.ID_da_Transacao }}",
            "Data de Expiracao": "={{ $json['Data de Expiração'] }}",
            "Link Fatura": "={{ $json.link_encurtado }}",
            "workflowId": "={{ $json.workflowId }}",
            "Fase": "Fase 1 - Entrou no funil",
            "Status": "={{ $json.Status }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data de Entrada",
              "displayName": "Data de Entrada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CPF",
              "displayName": "CPF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Produto",
              "displayName": "Produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Metodo de Pagamento",
              "displayName": "Metodo de Pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID da Transacao",
              "displayName": "ID da Transacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data de Expiracao",
              "displayName": "Data de Expiracao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link Fatura",
              "displayName": "Link Fatura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "workflowId",
              "displayName": "workflowId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fase",
              "displayName": "Fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data de Atualização do Status",
              "displayName": "Data de Atualização do Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -7984,
        1184
      ],
      "id": "256c3ba4-2460-41cd-bd15-cb4e6ba8f683",
      "name": "Entrou no funil - Fase 1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "i0KmTbyNf5uyslIa",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1nU47Z1pByv8BgHY6ABiKJTkIBoAG8TT3P0Zfj4LldzE"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID da Transacao": "={{ $('Prepara Envio1').item.json.ID_da_Transacao }}",
            "Status": "={{ $json.status }}"
          },
          "matchingColumns": [
            "ID da Transacao"
          ],
          "schema": [
            {
              "id": "Data de Entrada",
              "displayName": "Data de Entrada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CPF",
              "displayName": "CPF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Produto",
              "displayName": "Produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Metodo de Pagamento",
              "displayName": "Metodo de Pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID da Transacao",
              "displayName": "ID da Transacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data de Expiracao",
              "displayName": "Data de Expiracao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link Fatura",
              "displayName": "Link Fatura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "workflowId",
              "displayName": "workflowId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fase",
              "displayName": "Fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data de Atualização do Status",
              "displayName": "Data de Atualização do Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -7312,
        1184
      ],
      "id": "9502d7e8-9f45-4869-bb1a-4223ee722e85",
      "name": "Atualiza Fase ",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "i0KmTbyNf5uyslIa",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -7760,
        1184
      ],
      "id": "d095122b-f5ba-4a27-9566-b87367b79e8a",
      "name": "30 min",
      "webhookId": "57cb58f3-8097-43e2-a1a2-a5475d3adc71"
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "limitWaitTime": true,
        "resumeAmount": 20,
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -4624,
        800
      ],
      "id": "e750efd0-1e74-4699-9d88-307eea083a17",
      "name": "20 hrs",
      "webhookId": "84bf3721-3800-4edc-a66a-6a195014e3bf"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1nU47Z1pByv8BgHY6ABiKJTkIBoAG8TT3P0Zfj4LldzE"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID da Transacao": "={{ $('Prepara Envio1').item.json.ID_da_Transacao }}",
            "Fase": "Fase 3 - Recebeu Lembrete 2",
            "Status": "={{ $('Verifica Status Novamente1').item.json.status }}"
          },
          "matchingColumns": [
            "ID da Transacao"
          ],
          "schema": [
            {
              "id": "Data de Entrada",
              "displayName": "Data de Entrada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CPF",
              "displayName": "CPF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Produto",
              "displayName": "Produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Metodo de Pagamento",
              "displayName": "Metodo de Pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID da Transacao",
              "displayName": "ID da Transacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data de Expiracao",
              "displayName": "Data de Expiracao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link Fatura",
              "displayName": "Link Fatura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "workflowId",
              "displayName": "workflowId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fase",
              "displayName": "Fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data de Atualização do Status",
              "displayName": "Data de Atualização do Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -5296,
        992
      ],
      "id": "fbff9830-9c16-4929-8e1a-364db163a3b5",
      "name": "Atualiza Status 2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "i0KmTbyNf5uyslIa",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1nU47Z1pByv8BgHY6ABiKJTkIBoAG8TT3P0Zfj4LldzE"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID da Transacao": "={{ $('Prepara Envio1').item.json.ID_da_Transacao }}",
            "Status": "={{ $('Verifica Status Novamente').item.json.status }}"
          },
          "matchingColumns": [
            "ID da Transacao"
          ],
          "schema": [
            {
              "id": "Data de Entrada",
              "displayName": "Data de Entrada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CPF",
              "displayName": "CPF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Produto",
              "displayName": "Produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Metodo de Pagamento",
              "displayName": "Metodo de Pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID da Transacao",
              "displayName": "ID da Transacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data de Expiracao",
              "displayName": "Data de Expiracao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link Fatura",
              "displayName": "Link Fatura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "workflowId",
              "displayName": "workflowId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fase",
              "displayName": "Fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data de Atualização do Status",
              "displayName": "Data de Atualização do Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -6864,
        1280
      ],
      "id": "118b8197-2248-47fa-a17f-c863be3d84f0",
      "name": "Atualiza Status 1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "i0KmTbyNf5uyslIa",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1nU47Z1pByv8BgHY6ABiKJTkIBoAG8TT3P0Zfj4LldzE"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID da Transacao": "={{ $('Prepara Envio1').item.json.ID_da_Transacao }}",
            "Fase": "Fase 4 - Recebeu Lembrete 3",
            "Status": "={{ $('Verifica Status Novamente2').item.json.status }}"
          },
          "matchingColumns": [
            "ID da Transacao"
          ],
          "schema": [
            {
              "id": "Data de Entrada",
              "displayName": "Data de Entrada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CPF",
              "displayName": "CPF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Produto",
              "displayName": "Produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Metodo de Pagamento",
              "displayName": "Metodo de Pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID da Transacao",
              "displayName": "ID da Transacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data de Expiracao",
              "displayName": "Data de Expiracao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link Fatura",
              "displayName": "Link Fatura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "workflowId",
              "displayName": "workflowId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fase",
              "displayName": "Fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data de Atualização do Status",
              "displayName": "Data de Atualização do Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3728,
        800
      ],
      "id": "20b0596b-d2c8-4821-966a-a16c7f1fa118",
      "name": "Atualiza Status 3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "i0KmTbyNf5uyslIa",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1nU47Z1pByv8BgHY6ABiKJTkIBoAG8TT3P0Zfj4LldzE"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID da Transacao": "={{ $('Prepara Envio1').item.json.ID_da_Transacao }}",
            "Status": "={{ $('Verifica Status Novamente3').item.json.status }}"
          },
          "matchingColumns": [
            "ID da Transacao"
          ],
          "schema": [
            {
              "id": "Data de Entrada",
              "displayName": "Data de Entrada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CPF",
              "displayName": "CPF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Produto",
              "displayName": "Produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Metodo de Pagamento",
              "displayName": "Metodo de Pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID da Transacao",
              "displayName": "ID da Transacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data de Expiracao",
              "displayName": "Data de Expiracao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link Fatura",
              "displayName": "Link Fatura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "workflowId",
              "displayName": "workflowId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fase",
              "displayName": "Fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data de Atualização do Status",
              "displayName": "Data de Atualização do Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2160,
        608
      ],
      "id": "df78811a-a1cb-4058-a6a3-8118186c6226",
      "name": "Atualiza Status 4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "i0KmTbyNf5uyslIa",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -6416,
        1088
      ],
      "id": "a1a00fb1-5f8e-46eb-b673-12b7d209d1af",
      "name": "30min (1h p/ atualiza status)",
      "webhookId": "bf04a8ac-f9ba-4e79-b89f-a4780e0b1954"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1nU47Z1pByv8BgHY6ABiKJTkIBoAG8TT3P0Zfj4LldzE"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID da Transacao": "={{ $('Prepara Envio1').item.json.ID_da_Transacao }}",
            "Status": "={{ $('Verifica Status Novamente').item.json.status }}"
          },
          "matchingColumns": [
            "ID da Transacao"
          ],
          "schema": [
            {
              "id": "Data de Entrada",
              "displayName": "Data de Entrada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CPF",
              "displayName": "CPF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Produto",
              "displayName": "Produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Metodo de Pagamento",
              "displayName": "Metodo de Pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID da Transacao",
              "displayName": "ID da Transacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data de Expiracao",
              "displayName": "Data de Expiracao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link Fatura",
              "displayName": "Link Fatura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "workflowId",
              "displayName": "workflowId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fase",
              "displayName": "Fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data de Atualização do Status",
              "displayName": "Data de Atualização do Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -6192,
        1184
      ],
      "id": "b78bf84c-3e41-4828-a4d2-3136d2e99668",
      "name": "Atualiza Status após 1h",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "i0KmTbyNf5uyslIa",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "limitWaitTime": true,
        "resumeAmount": 120,
        "resumeUnit": "seconds",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -6192,
        992
      ],
      "id": "372df0b5-82ee-4534-b2a7-03595bcb5342",
      "name": "120 min",
      "webhookId": "8e6e0fce-5644-4b6b-8846-64eec9c72f2f"
    },
    {
      "parameters": {
        "phoneNumberId": "569361946259055",
        "recipientPhoneNumber": "={{ $('Prepara Envio1').item.json.Phone }}",
        "template": "=funil_diane_pix_boleto_n8n_msg2|pt_BR",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $('Prepara Envio1').item.json['Metodo de Pagamento'] }}"
                  },
                  {
                    "text": "={{ $('Prepara Envio1').item.json.Nome }}"
                  },
                  {
                    "text": "={{ $('Prepara Envio1').item.json['Nome Produto'] }}"
                  },
                  {
                    "text": "={{ $('Prepara Envio1').item.json['Metodo de Pagamento'] }}"
                  }
                ]
              }
            },
            {
              "type": "button",
              "sub_type": "url",
              "buttonParameters": {
                "parameter": {
                  "type": "text",
                  "text": "={{ $('Prepara Envio1').item.json.link_id }}"
                }
              }
            },
            {
              "type": "button",
              "index": 1,
              "buttonParameters": {
                "parameter": {
                  "payload": "={{ $json.resumeUrl }}"
                }
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -5072,
        800
      ],
      "id": "15ca454f-611e-420f-9f97-8dd6893f8586",
      "name": "Send template2",
      "webhookId": "30226f29-c187-46fd-b3c7-dae83887ae94",
      "credentials": {
        "whatsAppApi": {
          "id": "R7BPwhn8HvkKXHFG",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "46b760ea-d737-4367-aef7-bd80d06511d8",
              "name": "resumeUrl",
              "value": "={{ $execution.resumeUrl }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5296,
        800
      ],
      "id": "078b2a18-32f0-4e94-a06b-85d50117fe47",
      "name": "Prepara Envio"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -8432,
        1376
      ],
      "id": "a4b7fa8e-e73a-4688-9755-5e31583e114a",
      "name": "FIM (Botão Clicado)15"
    },
    {
      "parameters": {
        "url": "https://digitalmanager.guru/api/v2/contacts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.body.id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer a0148ac0-73ea-432e-8358-10d323ff0044|0Xj1cU07zLr0FaSdWkf41Gdj4bAOhx1cSa5xnWJX16df9f03"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -9104,
        1600
      ],
      "id": "4d04d4a5-5168-4a90-8da0-8982cc850e88",
      "name": "Busca os Dados do Contato na Guru"
    },
    {
      "parameters": {
        "url": "=https://digitalmanager.guru/api/v2/contacts/{{ $json.data[0].id }}/transactions",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer a0148ac0-73ea-432e-8358-10d323ff0044|0Xj1cU07zLr0FaSdWkf41Gdj4bAOhx1cSa5xnWJX16df9f03"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -8880,
        1600
      ],
      "id": "6d8fa2a0-0def-49d4-8d24-0718da881ae6",
      "name": "Busca a Última Transação na Guru"
    },
    {
      "parameters": {
        "jsCode": "// Pega o primeiro item que chega (que contém a lista 'data')\nconst item = items[0];\n\n// Pega a lista de transações de dentro do campo 'data'\nconst transactions = item.json.data;\n\n// Verifica se 'transactions' é de fato uma lista para evitar erros\nif (!Array.isArray(transactions)) {\n  return []; // Retorna vazio se não for uma lista\n}\n\n// Transforma cada transação da lista em um item separado para o n8n\n// e retorna todos eles.\nreturn transactions.map(transaction => {\n  return {\n    json: transaction\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8656,
        1600
      ],
      "id": "d1120119-ea9c-4450-8b05-987dac8abb0f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b6ae9c9f-40ad-4081-8c41-36f7a6471fdc",
              "leftValue": "={{ $json.payment.marketplace_id }}",
              "rightValue": "={{ $('Webhook').item.json.body.data.purchase.transaction }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -8432,
        1600
      ],
      "id": "832dd36e-e7aa-4a8f-a8ee-5e2633620bb5",
      "name": "If1"
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "limitWaitTime": true,
        "resumeAmount": 17,
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3056,
        608
      ],
      "id": "ebbdcacf-f0cb-4cb5-802f-a8b54f27ff23",
      "name": "17 hrs",
      "webhookId": "76274082-d72b-41f3-a892-6217ec91ad3e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "62dd9ccd-3b10-4380-b891-88a17bb56142",
              "leftValue": "={{ $json.body.data.product.id }}",
              "rightValue": 5811810,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "6719cd09-e85a-423e-8391-5349e83fa9dc",
              "leftValue": "={{ $json.body.data.product.id }}",
              "rightValue": 5812193,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "c843d364-0cd6-4037-b541-a42ddc2fb08c",
              "leftValue": "={{ $json.body.data.product.id }}",
              "rightValue": 5813093,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -8656,
        1280
      ],
      "id": "95cc43cd-01eb-4947-8978-938623970981",
      "name": "If2"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -8880,
        1280
      ],
      "id": "443725a0-5e29-4bf9-8f35-6c336a9a84d6",
      "name": "Wait",
      "webhookId": "929faceb-98d6-4f12-b457-e895903e0736"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8a7f431b-1582-45af-99db-9ae95d6ee6d8",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -9104,
        1280
      ],
      "id": "a84c47d4-3aa3-4607-9dde-69eb8127b05a",
      "name": "Webhook1",
      "webhookId": "8a7f431b-1582-45af-99db-9ae95d6ee6d8"
    }
  ],
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "webh.weburn.com.br",
            "user-agent": "Jodd HTTP",
            "content-length": "424",
            "content-type": "application/json",
            "x-forwarded-for": "23.20.61.187",
            "x-forwarded-host": "webh.weburn.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "cbd1a77a7869",
            "x-hotmart-hottok": "2P8HfzNmTVqhXUr52SQ8FprodKd0wz3710133",
            "x-real-ip": "23.20.61.187",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "data": {
              "offer": {
                "code": "zfbbeqk4"
              },
              "product": {
                "name": "Protocolo Corpo Livre - 30 dias para desinflamar",
                "id": 5812193
              },
              "checkout_country": {
                "iso": "BR",
                "name": "Brasil"
              },
              "affiliate": true,
              "buyer": {
                "phone": "5538998626001",
                "name": "Clayton Diane teste abandono 1",
                "email": "clayton@weburn.com.br"
              }
            },
            "id": "32e66f3e-6cf3-41fe-9a13-7f9060c39639",
            "creation_date": 1761852809647,
            "event": "PURCHASE_OUT_OF_SHOPPING_CART",
            "version": "2.0.0"
          },
          "webhookUrl": "https://webh.weburn.com.br/webhook/8a7f431b-1582-45af-99db-9ae95d6ee6d8",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-30T18:21:49.624Z",
      "createdAt": "2025-10-30T18:21:49.624Z",
      "role": "workflow:owner",
      "workflowId": "hI3wdiKMQelX2eJI",
      "projectId": "kDsSClWasdM3eAMX"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-30T21:10:37.220Z",
  "versionId": "ef15ca5a-cb8d-45e4-a700-ebbeef8b247a"
}