workflows/Endpoints.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [
          {
            "node": "Call 'Funil Pix / Boleto (Condições de parada)'",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ativa 'Funil Pix / Boleto (Condições de parada)'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Funil Pix / Boleto (Condições de parada)'": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-11-04T11:12:36.387Z",
  "id": "UHJdLIslr88lVpeD",
  "isArchived": false,
  "meta": null,
  "name": "Endpoints",
  "nodes": [
    {
      "parameters": {
        "path": "4d873b62-weburn-clint",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        16,
        -256
      ],
      "id": "8dcfafec-1bca-4285-a19e-973b7c937fd3",
      "name": "Webhook",
      "webhookId": "4d873b62-3d61-4c77-8616-60feae4289b3"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        464,
        -256
      ],
      "id": "511a51f3-4b51-4b28-a509-d2800be13f02",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d6d8559-659e-49e9-9636-3e33a556af3a",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "8575485625",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        -256
      ],
      "id": "4eb24699-72a3-4d4c-ac09-39c3fabdfcaf",
      "name": "If"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4d873b62-weburn-clint",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -16,
        320
      ],
      "id": "c6074598-2020-4aa7-9a30-e95613e605de",
      "name": "Webhook1",
      "webhookId": "4d873b62-3d61-4c77-8616-60feae4289b3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.entry[0].changes[0].value.messages[0].button.text }}",
                    "rightValue": "=Me envie o link exclusivo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3f229856-e1b1-4cf7-a371-7cdfb97b8976"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Black Mecabo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "755e7600-83a0-42f9-a62d-5480592c6ca9",
                    "leftValue": "={{ $json.body.entry[0].changes[0].value.messages[0].button.text }}",
                    "rightValue": "Já fiz o pagamento",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Fluxos"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        208,
        304
      ],
      "id": "00ea8d48-130a-4d79-b326-28d0bb6b9e49",
      "name": "Switch"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "TFd168yVKKP0kYvQ",
          "mode": "list",
          "cachedResultUrl": "/workflow/TFd168yVKKP0kYvQ",
          "cachedResultName": "Funil Pix / Boleto (Condições de parada)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        432,
        224
      ],
      "id": "83934dc8-862f-4460-bda6-2d5532caf6e2",
      "name": "Call 'Funil Pix / Boleto (Condições de parada)'"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webh.weburn.com.br/webhook/0f964dec-b665-4539-bfaa-be81db539152",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "JSON",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        416
      ],
      "id": "26b166e1-c60c-41bd-9698-ce16d29d558c",
      "name": "Ativa 'Funil Pix / Boleto (Condições de parada)'"
    },
    {
      "parameters": {
        "content": "## Ativador da condição de parada ao clicar no botão playload dos Fluxos \n",
        "height": 432,
        "width": 976,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        160
      ],
      "typeVersion": 1,
      "id": "69380167-b953-4099-a21c-2e7f09a05318",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Recebe os dados da meta e verificar url do webhook\n",
        "height": 432,
        "width": 976,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        -416
      ],
      "typeVersion": 1,
      "id": "6776b3dc-1aff-4415-ac20-b14e6275885e",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webh.weburn.com.br",
            "user-agent": "facebookplatform/1.0 (+http://developers.facebook.com)",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip",
            "x-forwarded-for": "69.171.231.65",
            "x-forwarded-host": "webh.weburn.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "cbd1a77a7869",
            "x-real-ip": "69.171.231.65"
          },
          "params": {},
          "query": {
            "hub.mode": "subscribe",
            "hub.challenge": "121635363",
            "hub.verify_token": "8575485625"
          },
          "body": {},
          "webhookUrl": "https://webh.weburn.com.br/webhook/4d873b62-weburn-clint",
          "executionMode": "production"
        }
      }
    ],
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "webh.weburn.com.br",
            "user-agent": "facebookexternalua",
            "content-length": "709",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip",
            "content-type": "application/json",
            "x-forwarded-for": "173.252.107.115",
            "x-forwarded-host": "webh.weburn.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "cbd1a77a7869",
            "x-hub-signature": "sha1=d9bc69affbeac39ddaacc6627f66195963c156de",
            "x-hub-signature-256": "sha256=8a538e0f0c490b45be8d68c58b3bacb6e3b58960f2ac0f7a5824f6b02a546516",
            "x-real-ip": "173.252.107.115"
          },
          "params": {},
          "query": {},
          "body": {
            "object": "whatsapp_business_account",
            "entry": [
              {
                "id": "9680607361990376",
                "changes": [
                  {
                    "value": {
                      "messaging_product": "whatsapp",
                      "metadata": {
                        "display_phone_number": "5511972236661",
                        "phone_number_id": "569361946259055"
                      },
                      "contacts": [
                        {
                          "profile": {
                            "name": "Clayton ✌🏻👊🏻"
                          },
                          "wa_id": "553898626001"
                        }
                      ],
                      "messages": [
                        {
                          "context": {
                            "from": "5511972236661",
                            "id": "wamid.HBgMNTUzODk4NjI2MDAxFQIAERgSQ0NEMTBGQTk3OEJFQTY3QTkyAA=="
                          },
                          "from": "553898626001",
                          "id": "wamid.HBgMNTUzODk4NjI2MDAxFQIAEhgUM0E0RUU3RDgxNzI3NjM2RDk3QjYA",
                          "timestamp": "1762256421",
                          "type": "button",
                          "button": {
                            "payload": "https://webh.weburn.com.br/webhook-waiting/198600",
                            "text": "Já fiz o pagamento"
                          }
                        }
                      ]
                    },
                    "field": "messages"
                  }
                ]
              }
            ]
          },
          "webhookUrl": "https://webh.weburn.com.br/webhook/4d873b62-weburn-clint",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-04T11:12:36.387Z",
      "createdAt": "2025-11-04T11:12:36.387Z",
      "role": "workflow:owner",
      "workflowId": "UHJdLIslr88lVpeD",
      "projectId": "kDsSClWasdM3eAMX"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-11-19T20:12:53.869Z",
  "versionId": "ea33666b-671f-4fe8-aa86-e6a2fd74b307"
}